@import "tailwindcss";

:root {
  --font-head: var(--font-inter);
  --font-body: var(--font-manrope);

  --color-background: #000;
  --color-foreground: #fff;

  --color-primary: #ffffff;
}

/* Global typography */
html {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body), system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    background: var(--color-background) ;
    color: var(--color-primary) ;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head), system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial;
  letter-spacing: -0.02em;
}


h1 {
  letter-spacing: -0.04em;
}

h2 {
  letter-spacing: -0.03em;
}


:focus-visible {
  outline: none;
}

::selection {
  background: rgba(255, 40, 40, 0.25);
  color: white;
}


:target {
  scroll-margin-top: 96px; 
}

/* Marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 85s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 85s linear infinite;
}































